/* FONT */
/* font-family: 'Yanone Kaffeesatz', sans-serif; */
body {
  background: #b5e4e6;
  color: #453d3d;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 1.5;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 40px;
  font-weight: normal;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

p {
  font-size: 16px;
}

img {
  height: 119;
  width: auto;
}

button {
  -webkit-appearance: none;
  background: #b32274;
  font-size: 24px;
  color: #fff;
  line-height: 1;
  padding: 12px 56px;
  text-decoration: none;
  transition: color 300ms, border-color 300ms, background-color 300ms;
  border: 0;
  border-radius: 0.625rem;

  &:hover {
    cursor: pointer;
    background: #d5298a;
  }
}

/* COLORS */
/* background color -> #B4E4E6 */
/* text color -> #453D3D */
/* button color -> #B32274 */
/* button text color -> white */
